body{
    font-family: 'Press Start 2P', cursive;
   width: 100%;
   
  
    
}

main {
   
    width: 500px;
    border: 2px solid black;
    background-color: black;
   
}

.mainDisplay {
    font-family: 'Press Start 2P', cursive;
    
  
    background-color: white;
  padding: 5px;
    margin: 5px;
    font-size: 40px;
    word-wrap: break-word;
   
}

section {
    width: 100%;
    text-align: center;

    

}




button{
    font-family: 'Press Start 2P', cursive;

    width: 100px;
    margin: 5px;
    height:100px;
    background-color: white;
    font-size : 40px;
    border-radius: 50px;
   
}
/* :hover button {
    background-color: grey;
} */

.clear {
    width: 300px;
}

