body{
    font-family: 'Press Start 2P', cursive;
   width: 100%;
   
  
    
}

main {
   
    width: 500px;
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    padding: 30px;
   
}

.mainDisplay  {
    font-family: 'Press Start 2P', cursive;
    
  
    background-color: white;
  padding: 5px;
    margin: 5px;
    font-size: 40px;
    word-wrap: break-word;
   
   
}
.totalDisplay {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
  padding: 5px;
    margin: 5px;
    font-size: 40px;
    word-wrap: break-word;
   
}

section {
    width: 100%;
    text-align: center;

    

}




button{
    font-family: 'Press Start 2P', cursive;

    width: 100px;
    margin: 5px;
    height:100px;
    background-color: white;
    font-size : 40px;
    border-radius: 50px;
   
}
/* :hover button {
    background-color: grey;
} */

.clear, .back {
    width: 200px;
    font-size: 30px;

